<!-- Herda do template base -->
{% extends "baseTemplate.html" %}

{% block head %}
<!-- Importar o CSS específico para este template -->
<link rel="stylesheet" href="/static/styles/login.css">
{% endblock %}

<!-- Determinar o titulo para quando este template está a ser utilizado -->
{% block title %}Log In{% endblock %}

{% block page %}
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
{% endblock %}
</html>