body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#map {
  height: 100vh;
  width: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.pinPlaceHolder {
  text-align: center;
  width: 400px;
}

.pinText {
  text-align: center;
}

.pinMedia {
  margin-top: 10px;
  width: 400px;
  height: 400px;
  border-radius: 4px;
}

.pinMedia:hover {
  box-shadow: 0 0 10px 1px rgba(30, 7, 235, 0.75);
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
  /* aqui está a transição suave */
}

#loading-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* evita interação enquanto escondido */
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}