<!-- Herda do template base -->
{% extends "baseTemplate.html" %}

<!-- Determinar o titulo para quando este template está a ser utilizado -->
{% block title %}World Map{% endblock %}

<!-- Incluir no cabeçalho da página, em adição ao que está no template base -->
{% block head %}
{{ super() }}
<!-- Open Street Maps API 1.9.4 -->
<link rel="stylesheet" href="/static/external/leaflet/leaflet.css" />
<script src="/static/external/leaflet/leaflet.js"></script>
<!-- Leaflet Marker Cluster 1.4.1 -->
<link rel="stylesheet" href="/static/external/markercluster/MarkerCluster.css" />
<link rel="stylesheet" href="/static/external/markercluster/MarkerCluster.Default.css" />
<script src="/static/external/markercluster/leaflet.markercluster.js"></script>

<link rel="stylesheet" href="/static/styles/map.css">
{% endblock %}
{% block page %}

<body>
  <div id="map"></div>
  <button class="filter-button" onclick="toggleFilters()">⚙ Filters</button>
  <div class="filter-popup" id="filter-popup">
    {% include 'map/filters.html' %}
  </div>
  <script>
    // Função para mostrar/ocultar filtros
    function toggleFilters() {
      const popup = document.getElementById("filter-popup");
      popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
    }

    // Fecha o popup se clicar fora do mesmo e do botão
    document.addEventListener('click', function (e) {
      const popup = document.getElementById("filter-popup");
      const button = document.querySelector(".filter-button");
      if (!popup.contains(e.target) && !button.contains(e.target)) {
        popup.style.display = "none";
      }
    });

    // Executar quando o DOM estiver completamente carregado
    document.addEventListener('DOMContentLoaded', () => {

      //Inicialização inicial o mapa 
      const mapDiv = document.getElementById('map');
      if (mapDiv) initMapa();

      // Obter as estações iniciais
      getNewStations();
    });

    // Pedir novas estações ao servidor com base nos filtros selecionados no momento da chamada da função
    async function getNewStations() {

      const response = await fetch(`/getStations`);
      const stations = await response.json();
      setMarkers(stations);
    }
  </script>
</body>
{% endblock %}