<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSolar - {% block title %}{% endblock %}</title>

    <script type="module" src="/static/scripts/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

    {% endblock %}
</head>

<body>

    <!-- Navbar -->
    {% include "navbar/navbar.html" %}

    <!-- Conteúdo principal -->
    {% block page %}{% endblock %}

    {% block scripts %}
        <!-- Verificar existência de mensagens flash vindas do servidor -->
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>alert("{{ message }}");</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
</body>

</html>